<nav class=" navbar-light bg-white shadow-sm">
  <div class="container d-flex">
        <a class="navbar-brand fs-2" href="#"><i class="bi bi-thermometer-snow text-primary"></i> Temperatura em <strong>Limeira</strong></a>

        <div class="ms-auto mt-3">
          <div class="btn-group btn-group-sm align-items-center" role="group" aria-label="Small button group">
            <button type="button" class="btn btn-primary disabled">Histórico <i class="bi bi-arrow-right"></i></button>
            <button type="button" class="btn btn-outline-primary" routerLink="/horario">Por hora</button>
            <button type="button" class="btn btn-outline-primary" routerLink="/diario">Diário</button>
            <button type="button" class="btn btn-outline-primary" routerLink="/mensal">Mensal</button>
            <button type="button" class="btn btn-outline-primary" routerLink="/anual">Anual</button>
            <button type="button" class="btn btn-outline-primary" routerLink="/sobre">Sobre</button>
          </div>
        </div>

  </div>
</nav>
<div class="container mt-3">
  <div class="bg-warning bg-opacity-25 py-2 px-3"><i class="bi bi-exclamation-triangle-fill text-primary"></i> Histórico de temperatura (em °C) na cidade de Limeira/SP. <span class="desktop">Atualizado de 10 em 10 minutos. </span><span class="desktop">Fonte dos dados meteorológicos: FT Unicamp</span></div>
</div>

