<div class="container mt-4 fs-5">
   <p>O projeto Temperatura em Limeira surgiu com o propósito de disponibilizar, de forma amigável e compreensível, os dados gerados pela estação meteorológica da Unicamp, que está posicionada fisicamente no campus I - Faculdade de Tecnologia. Os dados "sem tratamento" gerado pela estação podem ser acessados aqui: <a href="https://www3.ft.unicamp.br/meteorologia/downld08.txt" target="_blank">https://www3.ft.unicamp.br/meteorologia/downld08.txt</a></p>
   <p class="alert alert-success"><strong>Observação:</strong> Os dados apresentados neste site devem ser usados com cuidado, uma vez que a estação metereológica fica inoperante por alguns períodos, resultando em um apagão no fornecimento dos dados.</p>
   <p>O projeto foi criado por Luis Ribeiro, analista de sistemas e docente na área de tecnologia da informação do Senac Limeira, está disponível há vários anos, agora em sua segunda versão.</p>
   <h3 class="mt-5">Tecnologias usadas na primeira versão</h3>
   <ul>
      <li>HTML5 e CSS3</li>
      <li contenteditable=true>Linguagem PHP, banco de dados MySQL e linguagem SQL</li>
      <li>jQuery - framework Javascript</li>
      <li>Bootstrap - framework CSS e ícones</li>
      <li>MDBootstrap - extensão do Bootstrap</li>
      <li>CloudFlare - segurança, DNS e outros</li>
      <li>Let's Encrypt - Certificado SSL/TLS</li>
   </ul>

   <h3 class="mt-5">Tecnologias usadas na segunda versão (atual)</h3>
   <ul>
      <li><strong>Front-end:</strong> HTML5 e CSS3 (SCSS), Angular e Bootstrap</li>
      <li><strong>Back-end:</strong> Java com Spring Boot. Banco MySQL</li>
      <li>CloudFlare - segurança, DNS e outros</li>
      <li>Let's Encrypt - Certificado SSL/TLS</li>
   </ul>
   <p class="mt-4 mb-5">Este site usa o conceito de design minimalista.</p>
</div>